@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&display=swap");
h1 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 800;
}

h2 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
}

h3 {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
}

h4 {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
}

h5 {
  font-size: 9px;
  line-height: 10px;
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

*:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: #002947;
  color: #ffffff;
  font-family: "Archivo", sans-serif;
}

.maincontainer {
  padding: 10px;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 40px;
  border-radius: 4px;
  font-size: 0.9375rem;
}
.btn.btn-orange {
  background: #E47C29;
  color: #ffffff;
  border: 1px solid transparent;
}

.radio-switch-btn {
  background: #001D32;
  border-radius: 34px;
  display: flex;
  align-items: center;
  height: 100%;
}
.radio-switch-btn input {
  display: none;
}
.radio-switch-btn label {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  font-size: 0.75rem;
  text-align: center;
  padding: 12px 15px;
  min-width: 70px;
  height: 100%;
}
.radio-switch-btn label img {
  margin-right: 5px;
}
.radio-switch-btn label:hover {
  cursor: pointer;
}
.radio-switch-btn input:checked + label {
  background: #E47C29;
  color: #ffffff;
}
.radio-switch-btn label:first-of-type {
  border-radius: 34px;
}
.radio-switch-btn label:last-of-type {
  border-radius: 34px;
}

.header-title-wrap {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px;
}
.header-title-wrap .header-back-arrow {
  margin-right: 20px;
}
.header-title-wrap .header-time-left {
  background: #024B5C;
  border-radius: 4px;
  font-size: 0.75rem;
  padding: 5px 12px;
  color: #ffffff;
  margin-right: 20px;
}
.header-title-wrap h2 {
  flex: 1;
}

.player-count-wrap {
  padding: 20px 10px 10px;
}
.player-count-wrap .column {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 12px;
}
.player-count-wrap .column:last-child {
  margin-bottom: 0;
}
.player-count-wrap .column img {
  margin-right: 10px;
}
.player-count-wrap .column h4 {
  text-transform: uppercase;
}
.player-count-wrap .column .player-count {
  background: #4C697E;
  border-radius: 2px;
  font-size: 0.6875rem;
  padding: 2px 16px;
  color: #ffffff;
  margin-left: auto;
}
.player-count-wrap .column .player-count.alt {
  background: #001D32;
}

.remaining-credit-wrap {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 20px;
}
.remaining-credit-wrap .column {
  margin-right: 10px;
}
.remaining-credit-wrap .column:last-child {
  margin-left: auto;
  margin-right: 0;
}
.remaining-credit-wrap .column .box {
  background: #024B5C;
  border-radius: 4px;
  font-size: 0.75rem;
  padding: 5px 6px;
  color: #ffffff;
  min-width: 90px;
}
.remaining-credit-wrap .column .box h3 {
  font-weight: 500;
}
.remaining-credit-wrap .column .box h3 span {
  font-size: 9px;
}
.remaining-credit-wrap .column .box .progress-bar {
  width: 100%;
  height: 4px;
  background: #013541;
  margin-top: 5px;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
}
.remaining-credit-wrap .column .box .progress-bar:after {
  content: "";
  position: absolute;
  width: 60%;
  height: 4px;
  top: 0;
  left: 0;
  background: #00B2DB;
}

.players-preview-wrap {
  position: relative;
  padding: 0 0 10px;
  display: none;
}
.players-preview-wrap .ground {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #2A711F;
  border-radius: 6px;
}
.players-preview-wrap .ground .inner {
  display: flex;
  height: 100%;
  justify-content: space-around;
}
.players-preview-wrap .ground .inner .alt-bg {
  background: #1E6413;
  height: 100%;
  width: 10%;
}
.players-preview-wrap .ground .ground-pitch {
  background: url("../images/pitch-main.png") no-repeat center 30%;
  position: absolute;
  width: 270px;
  height: 85%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 80px;
}
.players-preview-wrap .column {
  position: relative;
  padding: 10px 5px;
  text-align: center;
}
.players-preview-wrap .column h5 {
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 14px;
}
.players-preview-wrap .column .players-lineup {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  margin: 0 -5px;
}
.players-preview-wrap .column .players-lineup .player {
  margin: 0 5px;
}
.players-preview-wrap .column .players-lineup .player .img {
  position: relative;
  display: inline-block;
}
.players-preview-wrap .column .players-lineup .player .img.badge.captain:after {
  content: "C";
}
.players-preview-wrap .column .players-lineup .player .img.badge.vice-captain:after {
  content: "VC";
}
.players-preview-wrap .column .players-lineup .player .img.badge:after {
  background: #E47C29;
  border-radius: 15px;
  font-size: 0.5rem;
  padding: 0;
  color: #ffffff;
  position: absolute;
  width: 16px;
  height: 16px;
  line-height: 16px;
  top: 10px;
  right: -20px;
}
.players-preview-wrap .column .players-lineup .player .name {
  background: #ffffff;
  border-radius: 3px;
  font-size: 0.625rem;
  padding: 2px 5px;
  color: #000000;
  font-weight: 500;
  margin-top: -9px;
  position: relative;
}
.players-preview-wrap .column .players-lineup .player .pricing {
  font-size: 9px;
  margin-top: 5px;
}

.players-listing-wrap .players-table {
  background: #ffffff;
  border-radius: 4px;
  padding: 5px;
}
.players-listing-wrap .players-table thead {
  background: #E4E4E4;
}
.players-listing-wrap .players-table thead th {
  padding: 6px 13px;
  color: #000000;
  font-size: 10px;
  text-align: left;
  font-weight: 300;
}
.players-listing-wrap .players-table thead th:first-child {
  border-radius: 45px 0 0 45px;
}
.players-listing-wrap .players-table thead th:last-child {
  border-radius: 0 45px 45px 0;
}
.players-listing-wrap .players-table tbody tr:nth-child(even) {
  background: rgba(2, 75, 92, 0.1);
}
.players-listing-wrap .players-table tbody td {
  padding: 12px 10px;
  color: #002947;
}
.players-listing-wrap .players-table tbody td:first-child {
  border-radius: 4px 0 0 4px;
  width: 50px;
}
.players-listing-wrap .players-table tbody td:last-child {
  border-radius: 0 4px 4px 0;
}
.players-listing-wrap .players-table tbody td.player-points {
  color: #00467a;
}
.players-listing-wrap .players-table tbody td .player-name {
  font-weight: 500;
}
.players-listing-wrap .players-table tbody td .player-country {
  font-weight: 300;
}

.bottom-cta-wrap {
  padding: 20px 10px 10px;
  display: flex;
  justify-content: end;
}
.bottom-cta-wrap .settings-btn {
  background: #E47C29;
  border-radius: 50%;
  font-size: 0.5rem;
  padding: 10px 12px;
  color: #ffffff;
  margin-right: 30px;
  position: relative;
}
.bottom-cta-wrap .settings-btn .notification-count {
  background: #FF5454;
  border-radius: 15px;
  font-size: 0.5rem;
  padding: 2px 4px;
  color: #ffffff;
  position: absolute;
  top: -2px;
  right: -2px;
  border: 1px solid #ed0000;
}